[Bb]in/
[Oo]bj/
x64/
x86/
ARM/
ARM64/
AppPackages/
TestResults/
artifacts/

.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.VC.db
*.VC.VC.opendb
*.opendb
*.cache
*.ipch
*.tlog
*.ilk
*.pdb
*.iobj
*.ipdb
*.aps

.vscode/
.idea/
_ReSharper*/
*.DotSettings.user

*.nupkg
*.snupkg
packages/
**/packages/

*.log
*.tmp

*.pfx
*.p12
*.pvk
*.snk
